@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

body {
    background-color: #9D3C72;
}

.top-section {
    color: #fff;
    font-family: 'Montserrat', sans-serif; 
}

.navbar {
    background-color: #7B2869;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: #fff;
    font-weight: 700;
}

.navbar-brand:hover{
    color: #fff;
}

.connect-button {
    background-color: #00dc30;
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 1.8rem;
        letter-spacing: 1.3px;
    }
}

.content-section {
    margin-top: 20vh;
}

.content-section h1 {
    max-width: 1300px;
    text-align: center;
    min-width: 240px;
    font-size: 3rem;
    font-weight: 700;
}

.d-flex {
    margin-top: 3rem;
    max-width: 600px;
}

.d-flex input{
    font-size: 1.5rem;
}

.fixed-bottom {
    background-color: #7B2869;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

.feature-box {
    padding: 1% 15% 1% 12%; 
    color: #fff;
    margin-top: 2%;
}

.feature-box p{
    max-width: 80vw;
    font-size: 1.3rem;
}

.icon {
    color: #00dc30;
}

hr {
    max-width: 80vw;
    border-top: 10px dotted white;
    margin-bottom: 5vh;
    size: 1rem;
}

.btn-lg{
    display: block;
}

#floatingTextarea1, #floatingTextarea2{
    height: 100px;
}

.fa-badge-check {
    color: #00dc30;
}

.events-cards {
    max-width: 80vw;
}