<%- include('partials/header.ejs'); %>

    <div class="container-md content-section">
        <h1 class="mx-auto">The Safest Way to buy and sell tickets</h1>
        <form class="d-flex mx-auto container-md" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for an event, venue or city"
                aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
    </div>

    <div class="feature-box container-md">
        <p><i class="fa-solid fa-check icon"></i> The safest way to buy and sell tickets with over 10
            million fans</p>
        <p><i class="fa-solid fa-check icon"></i> Prices are capped at 120% of the original price</p>
        <p><i class="fa-solid fa-check icon"></i> Primary tickets from over 6000 partnered events</p>
    </div>
    <hr class="mx-auto">

    <div class="events"></div>

    <%- include('partials/footer.ejs'); %>